 <div class="Container">
        <div class="Content">
            <div class="Wrapper">
                <div class="RightContent m-3">
                    <p>MAP</p>
                </div>
                <div class="LeftContent">   
                <% @spots.each do |spot| %>
                 <%= render 'shared/big-card',  :spot => spot %>
                <% end %>
                </div>
            </div>
        </div>
    </div>