<div class="landscape">
  <div class="skate-container">
    <div class="skate">
      <div class="skate-board"></div>
      <div class="skate-wheels">
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="skate-shadow"></div>
    <div class="skate-smoke">
      <div class="skate-smoke_item"></div>
      <div class="skate-smoke_item"></div>
      <div class="skate-smoke_item"></div>
    </div>
  </div>
  <div class="obstacles">
    <div class="obstacle_square"></div>
    <div class="obstacle_triangle"></div>
  </div>
</div>
