<div class="card">
 <%= link_to spot do %>
  <div style="height: 150px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path spot.default_image, :width => 200, :crop => "pad"  %>'); background-repeat: no-repeat; background-size: cover;">
  </div>
  <%end%>
  <div class="card-body">
    <div class="d-flex justify-content-between">
    <p class="card-text">*******</p>
    <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
</div>