<%= link_to spot do %>
<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path spot.default_image, height: 300, width: 300, crop: :fill %>'); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <i class="spot-icon fas fa-map-marker-alt"></i>
    <p class="spot-address"> 123 Test Drive, Chengdu</p>
    
</div>
<%end%>