<div class="card m-3">
  <img src="https://picsum.photos/200" class="card-img-top" alt="image">
  <div class="card-body">
    <div class="d-flex justify-content-between">
    <p class="card-text">*******</p>
    <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
</div>