<div class="card m-3">
  <%= cl_image_tag spot.default_image, height: 300, width: 400, crop: :fill %>
  <div class="card-body">
    <div class="d-flex justify-content-between">
    <p class="card-text">*******</p>
    <i class="fas fa-map-marker-alt"></i>
    </div>
  </div>
</div>