.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  margin-top: 0px;
  transition: 0.2s ease;
}
.banner h1 {
  font-family: Helvetica Neue;
  font-weight: normal !important;
  font-size: 75px;
  margin-bottom: 0;
}
.banner h2{
  font-weight: lighter !important;
  font-size: 45px !important;
  font-family: Helvetica Neue;

}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);

}

.banner {
  h2 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
 

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.logo{
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
}



