#map {

}

.mapboxgl-popup {
  // max-width: 200px;
 }

.mapboxgl-popup-content {
  padding: 1px !important;
  // background: #00b7a8 !important;
  // // #00b7a8
  // // #fd5f00 orange
  // text-align: center;
  // font-family: 'Open Sans', sans-serif;
  // color: white;
}

.mapboxgl-popup-close-button {
  margin-top: 6px;
  margin-right: 10px;
  font-size: 20px;
  color: red;
}

.coordinates {
  background: rgba(0,0,0,0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding:5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}

.geocoder {
  position:absolute;
  z-index:1;
  width:50%;
  left:50%;
  margin-left:-25%;
  top:20px;
}
