.mapboxgl-popup {
  max-width: 200px;

 }

.mapboxgl-popup-content {
  background: #00b7a8 !important;
  // #00b7a8
  // #fd5f00 orange
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
