.navbar-lewagon {
  background: #FFFFFF;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.add-icon {
  color: #094272;
  padding: 6px;
  padding-top:8px;
  padding-left:9px;
  padding-right:9px;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.2s ease;
}

.add-icon:hover {
  font-size: 25px;
  color: #45A9E6;
  border-color: #FFFFFF;
}

.add-skate-button {
  height:calc(1.5em + 0.75rem + 2px); background-color: #45A9E6;
  transition: all 3s ease-in-out;
}

.add-skate-button:hover {
  background-color: #094272 !important;
  transition: all 1s ease-in-out;
}
