.search-form-control {
  position: relative;
  width: 250px;
  border-radius: 10px;
}

.search-form-control .btn {
  position: absolute;
  right: 0;
}

.search-form-control .form-control {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:hover {
  border: 1px solid #45A9E5;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.btn-flat {
  color: white;
  border-radius: 8px;
  background: #45A9E5;
  transition: background 0.3s ease;
}


.btn {
  margin-right: 8px; 
}

.search-icon {
  color: #45A9E5;
}